@font-face {
  font-family: "MinnePetat";
  src: url("/fonts/MinnePetat.woff2") format("woff2");
}

@viewport {
  width: device-width;
  flex-shrink: 1;
  zoom: 1;
}

:root {
  --color-bg: #030303;
  --color-primary: #f5eee4;
  --color-secondary: #111111;
  --color-socials: #dad184;
  --color-borders: #202020;
  --color-mauser-border: #a1a1a1;
  --color-gradient-1: #523fff;
  --color-gradient-2: #7a1c50;
  --color-gradient-3: #e79f31;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
}

body * {
  cursor: none !important;
}

section {
  height: 100vh;
}

.socialicon {
  color: var(--color-primary);
  height: 2em;
  opacity: 0.6;
  transition: ease-in-out 0.2s;
}

.socialicon:hover {
  opacity: 1;
  transition: ease-in-out 0.2s;
}

a {
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.section h1 {
  font-family: "MinnePetat";
  font-weight: 100;
  font-size: 2.5em;
  background: linear-gradient(
    to right,
    var(--color-socials),
    var(--color-socials),
    var(--color-primary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1em 0;
  text-shadow: 0 0 8px var(--color-socials);
}

.home-section h1 {
  background: linear-gradient(
    to right,
    var(--color-gradient-1),
    var(--color-gradient-2),
    var(--color-gradient-3),
    var(--color-gradient-1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.section article {
  font-weight: 600;
  font-size: 1.2em;
}

.home-section h1 {
  text-transform: uppercase;
  background-size: 120%;
  font-size: 6em;
  margin: 0;
  padding: 0;
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px var(--color-primary);
  }
  to {
    text-shadow:
      0 0 10px var(--color-primary),
      0 0 20px var(--color-gradient-2),
      0 0 30px var(--color-gradient-3);
  }
}

.about-container {
  width: 50vw;
}

.about-container h1,
.projects-section h1 {
  text-decoration: none;
  background-size: 600%;
  font-size: 2.5em;
  font-weight: 800;
  padding: 0;
}

.projects-section h1 {
  width: 100%;
}

.socials-container {
  display: flex;
  flex-direction: row;
  margin-top: 3.5em;
  gap: 1.5em;
}

.projects-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.projects-display {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3em;
}

.projects-item {
  padding: 1em;
  background-color: var(--color-secondary);
  border-radius: 10px;
  color: var(--color-primary);
  height: fit-content;
}

.projects-item h2 {
  color: var(--color-socials);
  font-size: 1.5em;
  margin: 0 1em 0 0;
}

.sidenav {
  position: fixed;
  left: auto;
  height: 94vh;
  width: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlinks {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  width: 100%;
}

.sidenav-item-link {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.sidenav-item {
  padding: 0;
  width: 0.5em;
  aspect-ratio: 1;
  background-color: var(--color-primary);
  will-change: opacity;
  opacity: 0.3;
  margin: 0.7em 0;
  border-radius: 50%;
}

.active-menu {
  opacity: 0.8;
}

.logo {
  height: 3em;
  margin: 2em 0 0 0;
}

#mauser {
  position: fixed;
  height: 1em;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 80%;
  z-index: 9;
  pointer-events: none;
  border: 0.5px solid var(--color-mauser-border);
  box-shadow: var(--color-primary) 0px 0px 2px 0px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
