@font-face {
  font-family: "MinnePetat";
  src: url("/fonts/MinnePetat.woff2") format("woff2");
}

@viewport {
  width: device-width;
  flex-shrink: 1;
  zoom: 1;
}

:root {
  --color-bg: #030303;
  --color-primary: #f5eee4;
  --color-secondary: #161616;
  --color-socials: #dad184;
  --color-borders: #202020;
  --color-gradient-1: #523fff;
  --color-gradient-2: #7a1c50;
  --color-gradient-3: #e79f31;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body * {
  cursor: default;
}

body:hover * > #mauser {
  /* Show the tracker only when hovering the body */
  opacity: 1;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1 h2 article p {
  pointer-events: none;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container {
  width: 50vw;
}

.section-header {
  font-family: MinnePetat;
  font-weight: 100;
  font-size: 2.5em;
  background: linear-gradient(
    to right,
    var(--color-socials),
    var(--color-socials),
    var(--color-primary)
  );
  background-size: 600%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 6px var(--color-socials);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0 0 1em 0;
  width: 100%;
}

.section-article {
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* NAVIGATION */

#sidenav * {
  padding: 0;
}

#sidenav {
  position: fixed;
  left: auto;
  height: 94vh;
  width: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-logo {
  height: 3em;
  margin: 2em 0 0 0;
  filter: drop-shadow(0 0 3px var(--color-primary));
}

#navlinks {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  width: 100%;
}

#navlinks a {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.sidenav-button {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: var(--color-primary);
  will-change: opacity;
  opacity: 0.3;
  margin: 0.7em 0;
}

.active-menu {
  opacity: 0.8;
}

/* MOUSE TRACKER */

#mauser {
  position: fixed;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  left: 0px;
  top: 0px;
  z-index: 10000;
  background-color: var(--color-primary);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

#mauser.interacting {
  mix-blend-mode: difference;
}

/* LANDING/TITLE */

.glowing-title {
  font-family: MinnePetat;
  font-size: 6em;
  background: linear-gradient(
    to right,
    var(--color-gradient-1),
    var(--color-gradient-2),
    var(--color-gradient-3),
    var(--color-gradient-1)
  );
  background-size: 120%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
  margin: 0;
  padding: 0;
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px var(--color-primary);
  }
  to {
    text-shadow:
      0 0 10px var(--color-primary),
      0 0 20px var(--color-gradient-2),
      0 0 30px var(--color-gradient-3);
  }
}

/* ABOUT & SOCIALS */

.social-icon {
  color: var(--color-primary);
  height: 2em;
  opacity: 0.6;
  transition: all 0.8s ease;
}

#socials-container {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  gap: 1.5em;
}

#socials-container a:hover > .social-icon {
  opacity: 1;
  color: var(--color-socials);
}

/* PROJECTS */

.scrolling-container {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  border-radius: 12px;
  width: 280px;
  padding: 2em;
  height: 100px;
}

.card h2 {
  padding: 0 0 0.5em 0;
  margin: 0;
  color: var(--color-socials);
  font-size: 1.5em;
}

.card article {
  color: var(--color-primary);
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 700;
}
