<section id="about" class="section">
  <div id="about-container" class="centered section-container">
    <h1 class="section-header">{{ .Title }}</h1>
    <article class="section-article">{{ .Content }}</article>
  </div>
  <div id="socials-container" class="section-container">
    {{- range site.Params.socialIcons -}}
      <a
        href="{{ trim .url " " | safeURL }}"
        target="_blank"
        rel="noopener noreferrer me"
        title="{{ .display | default (title .name) }}"
        class="interactable"
      >
        {{ partial "svg.html" . }}
      </a>
    {{- end -}}
  </div>
</section>
