<header>
  <div class="sidenav">
    <a href="#home"><img class="logo" src="/images/logo.svg" alt="Logo" /></a>
    <div class="navlinks">
      <a class="sidenav-item-link" href="#home">
        <div class="sidenav-item active-menu"></div>
      </a>
      <a class="sidenav-item-link" href="#about">
        <div class="sidenav-item"></div>
      </a>
      <a class="sidenav-item-link" href="#projects">
        <div class="sidenav-item"></div>
      </a>
    </div>
  </div>
</header>
