<header id="sidenav">
  <div id="logo-container">
    <a href="#home" class="interactable">
      <img
        id="page-logo"
        src="{{ site.Params.assets.logo | default "logo.svg" | absURL }}"
        alt="Logo"
      />
    </a>
  </div>
  <div id="navlinks">
    <a class="interactable" href="#home" title="Home">
      <div class="sidenav-button active-menu"></div>
    </a>
    <a class="interactable" href="#about" title="About">
      <div class="sidenav-button"></div>
    </a>
    <a class="interactable" href="#projects" title="Projects">
      <div class="sidenav-button"></div>
    </a>
  </div>
</header>
