<section id="projects" class="section">
  <div id="projects-container" class="centered section-container">
    <h1 class="section-header">Projects</h1>
    <div id="projects-display">
      {{- range site.Params.itemDisplays -}}
        <a
          href="{{ .url }}"
          target="_blank"
          rel="noopener noreferrer me"
          title="{{ .title }}"
        >
          <div id="projects-item" class="interactable">
            <h2>{{ .name }}</h2>
            <article class="section-article">{{ .description }}</article>
          </div>
        </a>
      {{- end -}}
    </div>
  </div>
</section>
