<!doctype html>
<html
  lang="{{ .Site.Language | default "en-GB" }}"
  dir="{{ .Language.LanguageDirection | default "auto" }}"
>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <main>
      {{- if site.Params.enableMouseTracker -}}
        <div id="mauser">
          <i id="hover-icon"></i>
        </div>
      {{- end -}}
      {{ partial "home.html" . }}
      {{ partial "about.html" . }}
      {{ partial "projects.html" . }}
    </main>
  </body>
</html>
